.sidebar {
    border: 1px solid #000066;
    height: auto;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

.maincontent {
    height: auto;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    float: right;
}
ul.list_sidebar {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    line-height: 27px;
}

ul.list_sidebar li a {
    text-decoration: none;
    text-align: center;
    color: #3333ff;
    display: block;
    text-align: left;
}

ul.list_sidebar li {
    margin: 7px;
    padding: 5px;
}

